<?xml version="1.0"?>
<configuration>  
  <connectionStrings>
    <add name="OldConnectionString" connectionString="Data Source=210.34.5.124,2222;Initial Catalog=WISEWEB_WYN;Persist Security Info=True;User ID=wisewebadmin;Password=wise@xmu.db;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
    <!--<add name="OldConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SOE.mdb;" providerName="System.Data.OleDb"/>-->
  </connectionStrings>
  <system.web>    
  </system.web> 
</configuration>
