<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableHtmlTemplate>true</EnableHtmlTemplate>
  <EnableCookieAuthentication>true</EnableCookieAuthentication>
  <SSOSiteUrls />
  <SiteLogo>/_data/2011/07/08/e96a68f9_da56_48f7_b836_fee8ea25fd60/Thumbnail/201107081307262261842454002.jpg</SiteLogo>
  <ProductName>厦门大学王亚南经济研究院</ProductName>
  <SiteTitle>厦门大学王亚南经济研究院</SiteTitle>
  <SiteFullName>厦门大学王亚南经济研究院</SiteFullName>
  <IcpInfo>厦门大学ICP备 D200086 号</IcpInfo>
  <RewriteUrl />
  <UrlExtName>.aspx</UrlExtName>
  <PostInterval>0</PostInterval>
  <WaterMarkStatus>0</WaterMarkStatus>
  <WaterMarkType>0</WaterMarkType>
  <WaterMarkTransparency>5</WaterMarkTransparency>
  <WaterMarkText>WISE</WaterMarkText>
  <WaterMarkPic>watermark.gif</WaterMarkPic>
  <WaterMarkFontName>Tahoma</WaterMarkFontName>
  <WaterMarkFontSize>12</WaterMarkFontSize>
  <AttachImageQuality>80</AttachImageQuality>
  <MaxWidthOfUploadedImg>1024</MaxWidthOfUploadedImg>
  <ArticleAutoShare>false</ArticleAutoShare>
  <CutToMaxWidthOfUploadedImg>1</CutToMaxWidthOfUploadedImg>
  <OverdueDateTime>1000</OverdueDateTime>
  <ArticlePhotoSize>50*50</ArticlePhotoSize>
  <ADVisbleToSite>0</ADVisbleToSite>
  <DefaultTemplateGroupFileName>default.xml</DefaultTemplateGroupFileName>
  <DefaultHomePageTitle>首页 - 中国计量经济学学术网</DefaultHomePageTitle>
  <DefaultChannelPageTitle>{$ChannelName} - 中国计量经济学学术网</DefaultChannelPageTitle>
  <DefaultContentPageTitle>{$ArticleTitle} - {$ChannelName} - 中国计量经济学学术网</DefaultContentPageTitle>
  <ArticleAutoPublish>true</ArticleAutoPublish>
  <AllowSignup>False</AllowSignup>
  <SystemMail>syzx@xmu.edu.cn</SystemMail>
  <SysMailUser>syzx</SysMailUser>
  <SysMailPassword>xmuelc.2186351</SysMailPassword>
  <SysMailServer>pop3.xmu.edu.cn</SysMailServer>
  <NotifyMail>qingspace@xmu.edu.cn</NotifyMail>
  <GenericUserManageType />
  <IsAddLog>false</IsAddLog>
  <IsAuditComment>true</IsAuditComment>
  <EnableLoginAuhenCode>false</EnableLoginAuhenCode>
  <ArticleUrlGenerator>yyyy-MM-dd</ArticleUrlGenerator>
  <SiteSkinsBasePath>_skins</SiteSkinsBasePath>
  <EnableSiteSkins>true</EnableSiteSkins>
  <DescriptionPageMeta />
  <KeywordPageMeta />
  <AdMode_SingletonSite>true</AdMode_SingletonSite>
  <ArticleSourceDefault>数据科学中心</ArticleSourceDefault>
  <EnableCache>false</EnableCache>
  <IpSecurityEnabled>false</IpSecurityEnabled>
  <IpSecurityDefaultValue>0</IpSecurityDefaultValue>
  <CacheTimeSpan>60</CacheTimeSpan>
  <SysPopServer>smtp.xmu.edu.cn</SysPopServer>
  <Copyright>©2011 &lt;a href="http://wise.xmu.edu.cn/" target="_blank"&gt;厦门大学王亚南经济研究院&lt;/a&gt; &lt;/span&gt;</Copyright>
  <Links />
  <OnlyLoginUserCanVisit>false</OnlyLoginUserCanVisit>
  <PluginServer>http://plugins.we7.cn</PluginServer>
  <UrlFormat>html</UrlFormat>
  <UrlRewriterProvider>asp.net</UrlRewriterProvider>
  <IPStrategy />
  <StartTemplateMap>true</StartTemplateMap>
  <SiteBuildState>run</SiteBuildState>
  <IsOEM>true</IsOEM>
  <Upload_AllowImageType>.gif;.jpg;.bmp;.png;.jpeg;.jpe;.swf;</Upload_AllowImageType>
  <Upload_Forbid>.exe;.bat;.pif;.com;.aspx;.asp;.asmx;.ascx;</Upload_Forbid>
  <IPDBConnection>New=False;Compress=True;Synchronous=Off;UTF8Encoding=True;Version=3;Data Source={$Current}\IP.db</IPDBConnection>
  <StartPageViewModule>false</StartPageViewModule>
  <BbsDomain />
  <BbsPwdKey />
  <ShowAllInfo>false</ShowAllInfo>
  <AllowParentArticle>false</AllowParentArticle>
  <JiaMiKey>xbdongli</JiaMiKey>
  <EnableSingleTable>true</EnableSingleTable>
  <ShopService>http://shop.we7.cn</ShopService>
  <UserRegisterMode>none</UserRegisterMode>
  <DefaultTemplateEditor>1</DefaultTemplateEditor>
  <Theme>theme</Theme>
  <IsDemoSite>false</IsDemoSite>
</GeneralConfigInfo>