<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteGroupEnabled>false</SiteGroupEnabled>
  <SiteName>中国计量经济学学术网</SiteName>
  <CompanyName>中国计量经济学学术网</CompanyName>
  <RootUrl />
  <AdministratorID>{00000000-0000-0000-0000-000000000000}</AdministratorID>
  <AdministratorName>qingspace</AdministratorName>
  <AdministratorKey>38-F9-43-DF-A5-60-C6-CF-22-9B-07-8D-19-4F-E5-76</AdministratorKey>
  <IsPasswordHashed>true</IsPasswordHashed>
  <ADUrl />
  <SiteUrl>http://localhost:2600</SiteUrl>
  <PluginSN />
  <ShopLoginName>qingspace</ShopLoginName>
  <ShopPassword>F3-EF-5D-35-16-B4-90-6C-7B-19-B5-9B-B0-A5-92-C7</ShopPassword>
  <LDAPEnable>false</LDAPEnable>
</SiteConfigInfo>