<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SSOPartnerEndpoint">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://account.wisesoe.com/WcfServices/SSOService.svc/Partner"
       binding="wsHttpBinding" bindingConfiguration="SSOPartnerEndpoint"
       contract="SSOService.ISSOPartnerService" name="SSOPartnerEndpoint" />
    </client>
  </system.serviceModel>
</configuration>
