<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="OldConnectionString" connectionString="Data Source=210.34.5.124,2222;Initial Catalog=WISEWEB_WYN;Persist Security Info=True;User ID=wisewebadmin;Password=wise@xmu.db;Max Pool Size=1000;" providerName="System.Data.SqlClient" />
    <!--<add name="OldConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SOE.mdb;" providerName="System.Data.OleDb"/>-->
    <add name="OldWiseEntities" connectionString="metadata=res://*/oldModel.csdl|res://*/oldModel.ssdl|res://*/oldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.34.5.124,2222;persist security info=True;user id=wisewebadmin;password=wise@xmu.db;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="newWiseEntities" connectionString="metadata=res://*/newModel.csdl|res://*/newModel.ssdl|res://*/newModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.34.5.72,9977;persist security info=True;user id=sa;password=xmuelc.5.72;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="facultyEntities" connectionString="metadata=res://*/facultyModel.csdl|res://*/facultyModel.ssdl|res://*/facultyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=210.34.5.72,9977;initial catalog=WISE;persist security info=True;user id=sa;password=xmuelc.5.72;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>