<?xml version="1.0"?>
<ArrayOfContentModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ContentModel name="Default.Lecture" label="事件信息" description="" state="1" defaultcontextname="Template.ArticleModel" value="0" type="article" />
  <ContentModel name="Default.People" label="人员信息" description="" state="1" defaultcontextname="Template.ArticleModel" value="0" type="article" />
  <ContentModel name="Default.Student" label="学生信息" description="" state="1" defaultcontextname="Template.ArticleModel" value="0" type="article" />
</ArrayOfContentModel>